.con-btn {
  border-radius: 23px;
  width: 139px;
  height: 40px;
  background: rgb(52, 201, 182);
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  padding: 13px 26px 13px 27px;
  margin-top: 34px;
  margin-left: 48px;
}
.con-btn:hover {
  background-color: aqua;
}
